body{
    margin: 0;
}
ul{
    list-style-type: none;
    float: right;
    margin-top: 15px;
}
a{
    text-decoration: none;
}

#header img, #header h1, #header ul, #header ul a li{
    display: inline-block;
}
li{
    width: 150px;
    text-align: center;
    font-size: 30px;
}

#header{
    border-bottom: 2px solid black
}

#banner{
    text-align: center;
    background-image: url('../midias/img/banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 500px;
    color: white;
}
#banner p{
    padding-top: 320;
}